<?xml version="1.0" encoding="utf-8"?>
<ArrayOfImportentNumbers xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ImportentNumbers>
    <numberSaved>100004</numberSaved>
    <typeOfnumber>Order Running Number</typeOfnumber>
  </ImportentNumbers>
  <ImportentNumbers>
    <numberSaved>100006</numberSaved>
    <typeOfnumber>OrderItem Running Number</typeOfnumber>
  </ImportentNumbers>
</ArrayOfImportentNumbers>